#stats-container {
    max-height: calc(100vh - 65px - 45px);
    overflow-y: scroll;
    .hide {
        display: none;
    }
    h4 {
        padding: 0 20px 0px 20px;
    }
    #line-chart-container {
        padding: 20px 20px 20px 0px;
    }
}