@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

// #footer-container {
//     bottom: 0;
//     position: fixed;
//     width: 100vw;
//     #footer-list {
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//         .footer-item {
//             border-top: 1px solid black;
//             list-style: none;
//             padding: 8px;
//             text-align: center;
//             width: 33.33vw;
//             .footer-link {
//                 color: black;
//                 text-decoration: none;
//             }
//         }
//     }
// }

#footer-container {
    // border: 1px solid black;
    bottom: 0px;
    // height: 45px;
    // margin: auto;
    position: fixed;
    width: 100vw;
    #footer-list {
      display: flex;
      flex-direction: row;
      font-family: 'Open Sans', sans-serif;
      justify-content: space-evenly;
      .footer-item {
        border-top: 1px solid rgba(60, 60, 60, 0.6);
        cursor: pointer;
        height: 45px;
        font-size: 0.75em;
        font-weight: 600;
        list-style: none;
        padding-top: 15px;
        text-align: center;
        text-transform: uppercase;
        width: 33.1%;
        .footer-link {
            color: black;
            text-decoration: none;
        }
        i {
          padding: 0 4px;
        }
      }
      #stats-item,
      #friends-item {
          border-right: 1px solid rgba(60, 60, 60, 0.6);
      }
    }
}