@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

.col {
    font-family: 'Rubik', sans-serif;
    h1 {
        font-size: 1.6em;
        margin: 50px auto 20px;
        text-align: center;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px auto 10px;
        width: 80%;
        button {
            color: white;
            font-family: 'Rubik', sans-serif;
            padding: 10px;
            margin: 20px auto 10px;
            text-transform: uppercase;
            width: 100px;
        }
    }
    div {
        p {
            font-size: 0.8em;
            text-align: center;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    label {
        font-size: 0.8em;
        margin: 4px 0;
    }
    input {
        border: 1px solid grey;
        height: 35px;
        padding: 5px;
    }
}