@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

button {
  background: -webkit-gradient(linear, left top, left bottom, from(#648eff), to(#3368fa));
  background: linear-gradient(#648eff, #3368fa);
  color: white;
  border: none;
  padding: 8px 10px;
}

#match-btn-container {
  margin: 40px auto;
  width: 100px;
}

#match-btn-container #new-match-btn #new-match-link {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

#form-container {
  margin: 0px auto;
  max-width: 720px;
  overflow-y: scroll;
}

#form-container #form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 65px - 45px);
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

#form-container #form .form-group {
  margin: 0px auto;
  width: 90%;
}

#form-container #form .form-group label {
  font-size: 0.9em;
}

#form-container #form .form-group #not-found-msg {
  color: #e14646;
  font-size: 0.8em;
  padding: 2px;
}

#form-container #form .form-group .hide {
  display: none;
}

#form-container #form .form-group #add-friend-btn,
#form-container #form .form-group #find-course-btn {
  background: #1ae41a;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin: 10px 2px;
  text-decoration: none;
  text-transform: uppercase;
  width: 110px;
}

#form-container #form #course-container,
#form-container #form #friends-list-container {
  margin: 5px auto;
  width: 90%;
}

#form-container #form h3 {
  color: #3c3c3c;
  font-size: 1em;
  font-weight: 400;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#form-container #form p {
  font-size: 0.9em;
}

#form-container #form .hide {
  display: none;
}

#form-container #form #course-container #course-name {
  background: #648eff;
  border-radius: 10px;
  color: white;
  margin: 0 auto;
  padding: 6px 6px 6px 10px;
}

#form-container #form #course-container #course-name p {
  display: inline-block;
  width: 90%;
}

#form-container #form #course-container #course-name i {
  text-align: center;
  width: 10%;
}

#form-container #form #friends-list-container #friends-list {
  margin: 5px auto 8px;
}

#form-container #form #friends-list-container #friends-list li {
  background: #648eff;
  border-radius: 10px;
  color: white;
  list-style: none;
  margin: 4px auto;
  padding: 6px 6px 6px 10px;
}

#form-container #form #friends-list-container #friends-list li p {
  display: inline-block;
  width: 90%;
}

#form-container #form #friends-list-container #friends-list li i {
  text-align: center;
  width: 10%;
}

#form-container #form #start-match-btn {
  margin-bottom: 20px;
  padding: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#form-container #form #start-match-btn #match-link {
  background: -webkit-gradient(linear, left top, left bottom, from(#648eff), to(#3368fa));
  background: linear-gradient(#648eff, #3368fa);
  color: white;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
/*# sourceMappingURL=stylesheet.css.map */