#courses-container {
    max-height: calc(100vh - 65px - 45px);
    padding: 20px;
    overflow-y: scroll;
    h3 {
        font-size: 1.4em;
        font-weight: 400;
        padding: 5px 0;
    }
    #user-courses-list,
    #all-courses-list {
        li {
            list-style: none;
            padding: 4px;
        }
    }
}