@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    background: white;
    font-family: 'Rubik', sans-serif;
    position: relative;
    z-index: 90;
    #banner {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        height: 10vh;
        h2 {
            padding: 20px;
            text-align: center;
        }
        #burger {
            cursor: pointer;
            padding: 15px 10px;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 4;
            .line {
                background-color: black;
                border-radius: 5px;
                height: 3px;
                margin: 7px;
                width: 34px;
            }
            .toggle1 {
                transform: rotate(-45deg) translate(-5px, 9px);
            }
            .toggle2 {
                opacity: 0;
            }
            .toggle3 {
                transform: rotate(45deg) translate(-5px, -9px);
            }
        }
    }
    #slider {
        #nav-links {
            background: white;
            display: flex;
            flex-direction: column;
            height: calc(100vh - 10vh - 45px);
            justify-content: space-around;
            position: fixed;
            transition: right 1000ms ease-in-out;
            width: 100vw;
            li {
                border: 1px solid black;
                height: calc((100vh - 56.8px)/4);
                list-style: none;
                padding-top: 45px;
                text-align: center;
                .nav-link {
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .slide-left {
            right: 0vw;
        }
        .slide-right {
            right: -100vw;
        }
    }
}