@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

nav {
    border: 1px solid black;
    font-family: 'Rubik', sans-serif;
    position: relative;
    z-index: 1;
    #banner {
        h2 {
            padding: 10px;
            text-align: center;
        }
        #burger {
            cursor: pointer;
            padding: 10px;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: 2;
            .line {
                background-color: black;
                border-radius: 5px;
                height: 2px;
                margin: 7px;
                width: 34px;
            }
            .toggle #line1 {
                transform: rotate(-45deg) translate(-5px, 10px);
    
            }
            .toggle #line2 {
                opacity: 0;
                
            }
            .toggle #line3 {
                transform: rotate(45deg) translate(-5px, -10px);
                
            }
        }
        
    }
    #slider {
        #nav-links {
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            position: fixed;
            transition: right 1000ms ease-in-out;
            width: 50vw;
            z-index: 2;
            li {
                list-style: none;
                .nav-link {
                    color: black;
                    text-decoration: none;
                }
            }
        }
        .slide-left {
            right: 0vw;
        }
        .slide-right {
            right: -50vw;
        }
    }
}