#scoreboard {
    background: rgb(100, 200, 100);
    height: calc(100vh - 65px - 40px - 45px);
    margin: 6px auto;
    padding: 10px;
    overflow-y: auto;
    width: 100vw;
    #card-selector {
        border: 1px solid black;
        margin: 10px auto;
        form {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    .scorecard {
        background: white;
        border: 2px solid black;
        box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.5);
        margin: 0px auto;
        width: 80%;
        }
        .player-name {
            font-family: 'Open Sans', sans-serif;
            font-size: 1.2em;
            font-weight: 600;
            padding: 6px 20px;
        }
        .side-container {
            // border: 1px solid black;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            p {
                border: 1px solid black;
                padding: 2px;
                text-align: center;
                width: 50%;
            }
        }
        table {
            border-collapse: collapse;
            width: 100%;
            .hide {
                display: none;
            }
            thead {
                border: 1px solid #999;
            }
            td, 
            th {
                border: 1px solid #999;
                padding: 2px;
                text-align: center;
                width: 30%;
            }
            .score-input {
                height: 100%;
                margin: 0px auto;
                padding: 2px 0;
                text-align: center;
                width: 100%;
            }
            button {
                background: none;
                border: none;
                padding: 4px;
            }
        }
}