$lightBlue: rgb(100, 142, 255);
$darkBlue: rgb(51, 104, 250);

#course-name {
  background: $lightBlue;
  border-radius: 5px;
  color: white;
  padding: 6px;
  margin: 10px auto;
  text-align: center;
  width: 70%;
  text-transform: none;
}

#enjoy-msg {
  background: rgb(100, 200, 100);
  color: white;
  padding: 20px;
  text-align: center;
  text-transform: none;
}

h4 {
  color: white;
  font-weight: 400;
  padding: 2px 0px 20px;
  text-align: center;
}

#ListItem {
  background: $lightBlue;
  border-radius: 5px;
  color: white;
  list-style: none;
  margin: 10px auto;
  padding: 6px;
  text-align: center;
  width: 70%;
}

#loading-animation {
  background: rgb(100, 200, 100);
  padding-top: calc((50vh - 146px));
  padding-left: calc(50vw - 35px);
  width: 80px;
}

.lds-roller {
  height: 80px;
  position: relative;
  width: 80px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.match-splash {
  background: rgb(100, 200, 100);
  height: calc(100vh - 67px - 34px - 45px);
  margin-top: 6px;
  overflow-y: auto;
}

p {
  font-size: 1.1em;
  margin: 5px auto;
  width: 90%;
}

#scoreboard-msg,
#chatroom-msg {
  line-height: 2;
  margin: 8px 0;
}

#splash-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0px auto;
  padding-top: 30px;
  width: 80%;
}

View {
  transform-origin: 40px 40px;
}
View:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
View:nth-child(1) {
  animation-delay: -0.036s;
}
View:nth-child(1):after {
  top: 63px;
  left: 63px;
}
View:nth-child(2) {
  animation-delay: -0.072s;
}
View:nth-child(2):after {
  top: 68px;
  left: 56px;
}
View:nth-child(3) {
  animation-delay: -0.108s;
}
View:nth-child(3):after {
  top: 71px;
  left: 48px;
}
View:nth-child(4) {
  animation-delay: -0.144s;
}
View:nth-child(4):after {
  top: 72px;
  left: 40px;
}
View:nth-child(5) {
  animation-delay: -0.18s;
}
View:nth-child(5):after {
  top: 71px;
  left: 32px;
}
View:nth-child(6) {
  animation-delay: -0.216s;
}
View:nth-child(6):after {
  top: 68px;
  left: 24px;
}
View:nth-child(7) {
  animation-delay: -0.252s;
}
View:nth-child(7):after {
  top: 63px;
  left: 17px;
}
View:nth-child(8) {
  animation-delay: -0.288s;
}
View:nth-child(8):after {
  top: 56px;
  left: 12px;
}
